Dice game rule ideas:

-Goal of game is to reach a predetermined score using a maximum of three six-sided dice.

-Player can choose to use as many of the available dice for personal rolls.

-Player can choose to have the roll count against opponents score (will incur penalty on future rolls).

-If the number rolled is greater than what you need to reach the target value, the number of that roll will not 
be added to the current score.

-Perhaps there should be additional conditions for when the players are very close to winning?


